<div *ngIf="loading" class="loading">
  <div class="card card-custom gutter-b  shadow p-3 bg-white rounded">
    <div class="card-body">
      <div class="text-center">
        <h3>Loading...</h3>
        <br>
        <div id="loadingSpinner"></div>
        
      </div>
    </div>
   </div>
  
</div>


<!-- Inputs/ Outputs -->
<div class="row" style="margin-top:-10px;">
  <!-- Inputs -->
  <div class="col-4 p-2  border-secondary">
    <div class="row m-0">
      <div class="col-9">
        <h4>Inputs</h4>
      </div>
      <!-- reset -->
      <div class="col-3">
        <a (click)="reset()" href="javascript:;" class="btn btn-text-primary">
          <i class="la la-undo-alt icon-md text-blue"></i> RESET
        </a>
        <a (click)="generateOutput()" href="javascript:;" class="btn btn-text-primary">
          <i class="la la-undo-alt icon-md text-blue"></i> Run 
        </a>
      </div>
    </div>
    <div class="card card-custom gutter-b">
      <div class="input-scroll">
        <div class="accordion accordion-toggle-arrow" id="accordionInput">
          <ng-container *ngFor="let inp of inputFieldsGrouped,let i = index">
          <div class="card">
            <div class="card-header">
              <div class="card-title collapsed"  data-toggle="collapse" [attr.data-target]="'#inputcollapse'+i+1">
                {{inp.group}}
              </div>
              
            </div>
            <!--begin::Form-->
            <form ngNativeValidate>
              
              <div [id]="'inputcollapse'+i+1" class="collapse" [ngClass]="{'show' : i == 0 }" data-parent="#accordionInput">
                <div class="card-body" *ngFor="let header of inp.items2,let j = index">
                  
                    <!-- level0 -->
                    <div class="row ml-0" *ngIf="header.group">
                      <div class="col-12">
                        <label class="">
                          {{header.group}}&nbsp;
                        </label>
                      </div>
                    </div>

                    <!-- header -->
                    <ng-container *ngFor="let header2 of inp.items3,let x = index">
                        <ng-container *ngFor="let row of header2.items, let z = index">
                          <ng-container *ngIf="row.level0 == header.group">
                              <div class="form-group">
                              <!-- inputs -->
                              <div class="row ml-0">
                                <div class="col-7">
                                  <!-- label -->
                                  <label>{{row.input}}</label>
                                </div>
                                
                                <!-- input -->
                                <div class="col-5">
                                  
                                    <!-- <div class="input-group" *ngIf="row.type=='date'"> 
                                      <input id="input_{{row.id}}" [value]="row.value" (change)="onInputChange($event, row)"
                                      class="form-control " type="number"/>
                                    </div>

                                    <div class="input-group" *ngIf="row.type=='integer' || row.type=='double'">
                                      <input id="input_{{row.id}}" [value]="row.value | number:'1.2-2'" (change)="onInputChange($event, row)"
                                      class="form-control " type="number"/> -->

                                      <!-- unit -->
                                      <!-- <div class="input-group-append"><span class="input-group-text">{{row.unit}}</span></div>
                                    </div> 
                                    -->
                                    <select *ngIf="row.type=='option'" (change)="onInputChange($event, row)" class="form-control"
                                    id="input_{{row.id}}">
                                      <option *ngFor="let option of row.condition" [selected]="option == row.value">{{option}}</option>
                                    </select>

                                </div>
                               
                              </div>

                              
                              <div class="row ml-0" *ngIf="row.type=='integer' || row.type=='double'">
                                <div class="col-7"></div>
                                <div class="col-5">
                                  <span [ngClass]="(row.value<row.condition.min[1] || row.value>row.condition.max[1])?'text-danger':'text-muted'" class="form-text">
                                    Value range: {{row.condition.min[1]}} - {{row.condition.max[1]}}.
                                </span>

                                </div>

                              </div>
                            </div>
                          </ng-container>
                        </ng-container>
                        
                    </ng-container>
                    <div  class="separator separator-solid separator-border-1"></div>
                </div>
              </div>
            </form>
          </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- Outputs -->


  <div class="col-8 p-2">
    
    
    <div class="row m-0">
      <div class="col-12">
        <h4 class="pl-5">Results</h4>
      </div>
    </div>


    <!-- Here Run Script button -->
    <div>
      <!-- <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick=alert("helo")> -->
      
    </div>



    <!-- <div *ngIf="!loading">
      <div class="output-scroll">
      <div *ngIf="errstatus" class="alert alert-danger mt-10" role="alert">
        <i class="flaticon-warning"></i> Please enter value within given range.
      </div>
      <ng-container *ngIf="!errstatus">
        <ng-container *ngFor="let output of outputData,let i = index">
          <div class="row ml-5">
            <div class="col-12">
                <h5>{{output.group}}</h5>
                <div class="row" *ngFor="let row of output.items,let j = index">
                  <div class="col-6">
                    {{row.label}}
                  </div>
                  <div class="col-6">
                    <span *ngIf="row.type == 'double'">
                      <b>{{row.value  | number:'1.2-3'}}</b>
                    </span>
                    <span *ngIf="row.type == 'integer'">
                      <b>{{row.value  | number:'1.0-0'}}</b>
                    </span>
                    <span *ngIf="row.type != 'double' && row.type != 'integer'">
                      <b [ngClass]="{'text-danger' : row.value=='Fail', 'text-green' : row.value=='Pass'}">{{row.value}}</b>
                    </span>
                    <span class="text-muted pl-3">{{row.unit}}</span>
                  </div>
                  <div  class="separator separator-solid separator-border-1"></div>
                </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      
      </div>
    </div> -->
  </div>





</div>